body,
h1{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
main {
    margin: 0 auto;
    max-width: 760px;
    height: 100vh;
    background-color: grey;
}
.control-wrapper{
    height: 100px;
    position: relative;
    background-color: green;
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        
        transform: translate(-50%, -50%);
        display: blcok;
    }
    
}
.game-area{
    position: relative;
    height: calc(100% - 100px);
    .user-zone{
        height: 100px;
        background: beige;
    }
    .enemy{
        height: calc(100% - 100px);
        background: gray;
    }
    
    }
    #cat{
        font-size: 70px;
        cursor: pointer;
    }
    .user{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%);
    }
    .enemy{
        cursor: move;
        position: relative;
        i {
            font-size: 25px;
            position: absolute;

        }
    }